
.itweet {
	margin-left: 20%;
	border-bottom: 1px solid #e1e8ed;
	padding: 9px 12px;
	display: block;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 60%;
	background-color: #c2dfff;
}


button {
	margin-left: 20%;
	background-color: #55acee;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	padding: 8px 16px;
	position: relative;
}

.outer{
	margin-top: 5%;
	width: 60%;
}

button.link { 
	background:none;
	border:none; 
}